/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* hrader related styles */
.header {
    background-color: #FFFDF3;
    padding: 30px 30px 0px 100px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nave.title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: #474747;
}

nav a {
    text-decoration: none;
}

/* banner related styles */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner .profile-pic {
    width: 500px;
}